.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #343A40;
    padding-top: 15px;
    padding-bottom: 1px;
}

html body {
    background-color: #f5f5f5;

}

.navbar-nav .nav-item .nav-link a{
    color: rgb(223, 223, 223);
}

#home-recipe-popular {
    padding: 15px;
}

.thumb-post img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    /* max-height: 250px; */
    margin-bottom: 1rem;
  }