<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{recipe.recipeName}}</h3>
        <img class="img-fluid rounded" src="http://placehold.it/500x200" alt="">
        <strong>Description:</strong>
        <p class="card-text">{{recipe.description}}</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">View More</a>
    </div>
</div>
<br>