<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{recipe.recipeName}}</h3>
        <img height="200" width="500" class="img-responsive" src="https://s3.us-east-2.amazonaws.com/netoketo.com/assets/Images/{{recipe.recipeId}}.jpg" alt="" >
        <br>
        <strong>Description:</strong>
        <p class="card-text">{{recipe.description}}</p>
    </div>
    <div class="card-footer">
        {{#link-to "show" recipe.recipeId}}
        <button class="btn btn-primary">View More</button>
        {{/link-to}}
       
    </div>
</div>
<br>