<h2>NETOKETO TEST 01</h2>
<div>
{{#link-to "login"}}
Login
{{/link-to}}
{{#link-to "profile"}}
Profile
{{/link-to}}
{{#link-to "home"}}
Home
{{/link-to}}
{{#link-to "searchresults"}}
Recipes
{{/link-to}}
{{#link-to "searchresults"}}
Search Placeholder
{{/link-to}}
</div>
<br>
<div>
{{outlet}}
</div>
<br>
<div>
<p>Website by NETOKETO</p>
</div>