<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container" style="background-color: #f4f4f4">
        <p>
          Username
        </p>
        <p>
          Email
        </p>
      </div>
    </div>


    <div class="col-md-6">
      <p>
        Lets go
      </p>
    </div>
  </div>
</div>
