<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        Profile
      </h2>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
      <h4>Username : {{model.user.username}}</h4>
    </div>
    <div class="col-md-8">
      <br />
      <h4>Email : {{model.user.email}}</h4>

      <br />
      <h4>Recipes made:</h4>
      <br />
      <h4>Liked Recipes:</h4>

    </div>
  </div>
</div>